<!DOCTYPE html>
<html lang="es"> <!-- Idioma del documento especificado correctamente -->
<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configuración de la vista para dispositivos móviles -->
    
    <!-- Favicon -->
    <link rel="icon" href="C:\Users\lucas\Desktop\lucas_di_cianni1trabajohtml\imagenes\lucas di cianni.png" type="image/png">

    <!-- Enlace a la hoja de estilos externa -->
    <link rel="stylesheet" href="C:\Users\lucas\Desktop\lucas_di_cianni1trabajohtml\css\styles.css">
    
    <title>Lucas Di Cianni</title> <!-- Título de la página -->
</head>
<body>
    
    <!-- Logo que enlaza a la página de inicio -->
    <a href="index.html"><img src="C:\Users\lucas\Desktop\lucas_di_cianni1trabajohtml\imagenes\lucas di cianni.png" alt="Logo Lucas Di Cianni"></a>

    <!-- Menú de navegación principal -->
    <div class="main">
        <ul>
            <li><a href="index.html">INICIO</a></li>
            <li><a href="productos.html">PRODUCTOS</a></li>
            <li><a href="presupuesto.html">PRESUPUESTO</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
        </ul>
    </div>

    <!-- Salto de línea para separar elementos -->
    <br><br>

    <!-- Contenido principal de la página -->
    <div class="content">
        <img src="C:\Users\lucas\Desktop\lucas_di_cianni1trabajohtml\imagenes\gafas sobre madera cortada.jpg" alt="Gafas sobre madera">
    </div>

    <!-- Pie de página con enlaces a redes sociales y datos de contacto -->
    <footer>
        <!-- Iconos y enlaces a redes sociales -->
        <a href="https://www.facebook.com/profile.php?id=100008281244751">
            <img src="C:\Users\lucas\Desktop\lucas_di_cianni1trabajohtml\imagenes\facebook-removebg-preview.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/lucasdicianni.ok/">
            <img src="C:\Users\lucas\Desktop\lucas_di_cianni1trabajohtml\imagenes\instagram-removebg-preview.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/in/lucas-di-cianni-901017250/">
            <img src="C:\Users\lucas\Desktop\lucas_di_cianni1trabajohtml\imagenes\linkd-removebg-preview.png" alt="LinkedIn"></a>
        <a href="https://wa.me/644853829">
            <img src="C:\Users\lucas\Desktop\lucas_di_cianni1trabajohtml\imagenes\whs-removebg-preview.png" alt="WhatsApp"></a>

        <!-- Información de contacto -->
        <p>Dirección: Carrer de l'Aprestadora, 15, 08902 L'Hospitalet de Llobregat, Barcelona</p>
        <p>Teléfono: +34 644 853 829</p>
        <p>Email: lucasdicianni92@gmail.com</p>

        <!-- Derechos de autor -->
        <p>&copy; 2024 Lucas Di Cianni. Todos los derechos reservados.</p>

        <!-- Enlace al aviso legal -->
        <a href="aviso_legal.html">AVISO LEGAL</a>
    </footer>

</body>
</html>
